<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sbp">

    <uses-permission android:name="android.permission.INTERNET" /><!--нужно, чтобы загрузить банки поддерживаемые ссылку nspk.ru-->
    <queries>
        <intent>
            <data
                android:host="qr.nspk.ru"
                android:scheme="https" />
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
</manifest>
